@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*
    {
        /* background-color: rgb(219, 219, 219); */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        color: black;
    }

body
    {
        background: url();
        background-position: center;
        background-size: cover;
        height: 10vh;

    }

/* .card
    {
        margin: 15px;
        padding: 15px;
    } */

.col
    {
        margin: 15px;
        padding: 15px;
    }

.custom-image-size
    {
        width: 200px;
        height: 200px;
    }